@model WeatherReturn

@using ClientWebApplication.WeatherService

@if (Model != null)
{
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(x => x.City)</th>
                <th>@Html.DisplayNameFor(x => x.State)</th>
                <th>@Html.DisplayNameFor(x => x.WeatherStationCity)</th>
                <th>@Html.DisplayNameFor(x => x.Temperature)</th>
                <th>@Html.DisplayNameFor(x => x.Wind)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(x => x.City)</td>
                <td>@Html.DisplayFor(x => x.State)</td>
                <td>@Html.DisplayFor(x => x.WeatherStationCity)</td>
                <td>@Html.DisplayFor(x => x.Temperature)</td>
                <td>@Html.DisplayFor(x => x.Wind)</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="alert-info">There are no rows to be shown.</div>
}