@model Employee

@using ClientWebApplication.EmployeeService

@if (Model != null)
{
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Id)</th>
                <th>@Html.DisplayNameFor(x => x.Name)</th>
                <th>@Html.DisplayNameFor(x => x.Gender)</th>
                <th>@Html.DisplayNameFor(x => x.DateOfBirth)</th>
                @Html.DisplayForModel(new { type = "tableHeader" })
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(x => x.Id)</td>
                <td>@Html.DisplayFor(x => x.Name)</td>
                <td>@Html.DisplayFor(x => x.Gender)</td>
                <td>@Html.DisplayFor(x => x.DateOfBirth)</td>
                @Html.DisplayForModel()
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="alert-info">There are no rows to be shown.</div>
}

